<div id="<%= dom_id customer_application %>">
  <td><%= customer_application.name %></td>
  <td><%= customer_application.email %></td>
  <td><%= customer_application.mobile %></td>
  <td><%= image_tag customer_application.photo, style: "width:100px;height:100px;" %></td>
  <td><%= customer_application.status %></td>
  <td class="action">
    <%= action_link("edit", customer_application, controller_path) %>
    <%= action_link("delete", customer_application, controller_path) %>
    <hr>
    <%= action_link("approve", customer_application, controller_path) %>
    <%= action_link("reject", customer_application, controller_path) %>
    <%= action_link("archive", customer_application, controller_path) %>
  </td>
</div>
