<p style="color: green"><%= notice %></p>

<%= render @customer_application %>

<div>
  <%= link_to "Edit this customer application", edit_customer_application_path(@customer_application) %> |
  <%= link_to "Back to customer applications", customer_applications_path %>

  <%= button_to "Destroy this customer application", @customer_application, method: :delete %>
</div>
